*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
font-family: "DM Sans", sans-serif;
font-optical-sizing: auto;
}

.container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color:#FFFFFF;
    padding: 16px 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav .menu a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}
.btn{
    background-color: #30B868;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}
/* Banner style */
#banner{
    background-image: url("assets/hero-bg.png");
    background-position: center;
    background-size: cover;
}

.banner-content{
  text-align: center;
  padding: 154px 341px;
}
.early{
    background: #FFFFFF;
    color: #30B868;
    width: 229px;
    margin: 0 auto;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 16px;
}
#banner h1{
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
#banner h1 span{
    color: #30B868;
}
#banner p{
    color: #FFFFFF;
    margin-bottom: 16px;
}
.btn-1{
 padding: 12px 16px;
 border-radius: 5px;
 cursor: pointer;
}
/* card section style */
#card-section{
    padding-top: 130px;
}
.section-heading{
  text-align: center;
}
.section-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p{
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
}
 #card-section .card-container .cards{
    display: flex;
    gap: 24px;
} 

 .cards .card{
    padding: 30px;
     background-color: #FFFFFF;
     box-shadow: 0 0 8px 0  rgba(0, 0, 0, 0.06);
     border-radius: 8px;
     text-align: center;
}
.card img{
    background-color: #F95555;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 16px;
    
}
.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    font-size: 10px;
    margin-bottom: 16px;
} 
.about{
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-container{
    display: flex;
    align-items: center;
    gap: 60px;
} 
.about-content span{
    color: #30B868;
}
.about-content h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.about-content p{
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
}
.about-content ul li{
    list-style: none;
    line-height: 20px;
    color: #001931;
}
.about-content ul li img{
    margin-top: 5px;
}

